:root {
  --cursor-visibility: show;
}

.cursor {
  z-index: 100;
  width: 5px;
  height: 5px;
  position: absolute;
  pointer-events: none;
  background-color: var(--white-color);
  border-radius: 50%;
}

.cursor-outer {
  z-index: 99;
  width: 31px;
  height: 31px;
  top: -14px;
  left: -14px;
  position: absolute;
  pointer-events: none;
  border: 1px solid var(--acc2-color);
  border-radius: 50%;
  transition: transform 200ms cubic-bezier(0, 0.57, 0.6, 1.18);
  visibility: var(--cursor-visibility);
}