.cursor {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid white; */
  /* background-color: rgba(255, 255, 255, 0.356); */
  height: 30px;
  width: 30px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: cursor-intro 2s ease-out forwards 10s;
  opacity: 0;
}

.cursor::after, .cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.cursor::before {
  background-color: rgb(255, 255, 255);
}

.cursor.click::before {
  animation: click 1s ease forwards;
  background-color: var(--acc2-color);
}

@keyframes click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
  }
}

@keyframes cursor-intro {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(50, 50, 1);
    background-color: var(--acc2-color);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    background-color: #00000000;
  }
}