section.contact {
  min-height: 85vh;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

section.contact>.wrapper {
  display: flex;
  margin: 3em 20px;
}

.contact .content {
  display: flex;
  flex-direction: column;
}

.contact h1 {
  font-size: clamp(3.2rem, 10vw, 5.5em);
  font-weight: 400;
}

.contact .contact-container {
  display: flex;
  flex-direction: row;
}

.contact-container .img-container {
  display: flex;
}

.contact-container .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 1.25em;
  min-width: clamp(100px, 90vw, 520px);
  max-height: 780px;
  object-fit: cover;
  object-position: top;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 1em;
}

.social-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-box .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25em;
  transition: all 0.3s ease-in;
  transition: scale 50ms ease-out;
}

.social-box .social-item:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
  fill: #fff !important;
  filter: brightness(85%);
}

.social-box .social-item:active {
  scale: 0.9;
}

.social-item.discord:active::after, .social-item.telegram:active::after {
  content: 'Copied!';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  text-align: center;
  font-size: 0.7em;
}

.social-box .social-item svg {
  width: 40px;
  height: 40px;
  scale: 1;
  transition: scale ease-in 300ms;
}

.social-box .social-item:hover svg {
  scale: 1.2;
}

.social-item.discord {
  width: 150px;
  height: 75px;
  fill: #5e5cce;
  background-color: #262431;
}

.social-item.telegram {
  width: 75px;
  height: 75px;
  fill: #0088CC;
  background-color: #001925;
}

.social-item.twitter {
  width: 75px;
  height: 75px;
  fill: #1DA1F2;
  background-color: #062030;
}

.social-item.VRC {
  width: 75px;
  height: 75px;
  fill: #008387;
  background-color: #001f20;
}

.social-link {
  display: flex;
  align-items: baseline;
  /* flex-direction: row-reverse; */
  width: fit-content;
  transition: color 0.4s ease-in;
}

.social-link svg.link {
  width: 12px;
  height: 12px;
}

/* .social-link:hover {
  transform: translate3d(20px, 0, 0);
} */

.social-link.discord:hover {
  color: #5865F2;
}

.social-link.twitter:hover {
  color: #1DA1F2;
}

.social-link.telegram:hover {
  color: #0088CC;
}

.social-link.vrc:hover {
  color: #008387;
}

.feedback-container {
  position: relative;
  display: flex;
	align-items: center;
}

.feedback-container.err {
  animation: shake 0.5s; 
}

.feedback-container.err::after {
  background: red !important;
}

.feedback-container.err > button {
  display: none !important;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.feedback-container.loading::after {
  height: 40px !important;
  border-radius: 0px !important;
}

.feedback-container::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 4px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
  transition: height ease-in 500ms;
}

@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.feedback-container > input {
  width: 100%;
  background: var(--black2-color);
  color: #FEFFB8;
  font: inherit;
  font-size: 1.2em;
  outline: 0;
  padding: 10px 5px;
  border: none;
}

.feedback-container > button {
  margin-left: -96px;
  border: 0;
  background: none;
  border-radius: 2px;
  padding: 12px 36px;
}

.feedback-container > button > svg {
  fill: var(--white-color);
  transform: scale(1.3);
  transition: transform ease-in 200ms;
}

.feedback-container > button:hover > svg {
  fill: #57E6E6;
  transform: scale(1);
}

.feedback-container .input-counter {
  display: none;
  position: absolute;
  right: 0;
  bottom: -25px;
}

@media screen and (max-width: 800px) {
  .contact .contact-container {
    flex-direction: column;
  }

  .about-container {
    margin-left: 0;
  }
}