section.footer {
  min-height: 40vh;
  background-color: #000000;
}

.footer .warpper {
  z-index: 1;
  flex-direction: column;
  display: flex;
  width: 100%;
  margin: auto 5%;
  gap: 7px;
}

.footer .warpper h2 {
  font-size: 70px;
  margin-bottom: 1rem;
}

.footer>.bg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer>.bg>h1 {
  color: #1b1b1b;
  font-size: clamp(100px, 11vw, 140px);
  font-weight: 400;
}

.proto {
  position: absolute;
  bottom: 0;
  right: 0;
}