section.contact {
  min-height: 85vh;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

section.contact>.wrapper {
  display: flex;
  margin: 3em 20px;
}

.contact .content {
  display: flex;
  flex-direction: column;
}

.contact h1 {
  font-size: clamp(3.2rem, 10vw, 5.5em);
  font-weight: 400;
}

.contact .contact-container {
  display: flex;
  flex-direction: row;
}

.contact-container .img-container {
  display: flex;
}

.contact-container .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 1.25em;
  min-width: clamp(100px, 90vw, 520px);
  max-height: 780px;
  object-fit: cover;
  object-position: top;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 1em;
}

.social-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-box svg {
  width: 40px;
  height: 40px;
}

.social-box .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25em;
  transition: fill 0.3s ease-in;
}

.social-item:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
  fill: #fff !important;
}

.social-item.discord {
  width: 150px;
  height: 75px;
  fill: #5e5cce;
  background-color: #262431;
}

.social-item.telegram {
  width: 75px;
  height: 75px;
  fill: #0088CC;
  background-color: #001925;
}

.social-item.twitter {
  width: 75px;
  height: 75px;
  fill: #1DA1F2;
  background-color: #062030;
}

.social-item.VRC {
  width: 75px;
  height: 75px;
  fill: #008387;
  background-color: #001f20;
}

.social-link {
  display: flex;
  align-items: baseline;
  /* flex-direction: row-reverse; */
  width: fit-content;
  transition: color 0.4s ease-in;
}

.social-link svg.link {
  width: 12px;
  height: 12px;
}

/* .social-link:hover {
  transform: translate3d(20px, 0, 0);
} */

.social-link.discord:hover {
  color: #5865F2;
}

.social-link.twitter:hover {
  color: #1DA1F2;
}

.social-link.telegram:hover {
  color: #0088CC;
}

.social-link.vrc:hover {
  color: #008387;
}

.feedback-container {
  display: flex;
	align-items: center;
}

.feedback-container > input {
  width: 100%;
  border-radius: 1.25em;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.feedback-container > button {
  display: inline-block;
  margin-left: -96px;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  background: var(--acc2-color);
  color: var(--black-color);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}

@media screen and (max-width: 800px) {
  .contact .contact-container {
    flex-direction: column;
  }

  .about-container {
    margin-left: 0;
  }
}