section.refsheet {
  min-height: 75vh;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

.refsheet .warpper {
  display: flex;
  margin: 3em 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.refsheet h1 {
  font-size: clamp(3.2rem, 10vw, 5.5em);
  font-weight: 400;
}

.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 6em solid rgba(0, 0, 0, 0.5);
  border-bottom: 6em solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img picture {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img .caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover>picture {
  opacity: 0.7;
}

.hover-img:hover .caption {
  opacity: 0.8;
}