section.about-me {
  min-height: inherit;
  max-width: 1300px;
  margin: 0 auto;
}

.about-me>.card {
  display: flex;
  margin: 0 10px;
  padding: 35px 10px;
  background-color: var(--card-color);
  box-shadow: 20px 20px 40px var(--black-color);
  border-radius: 8px;
  transition: transform .35s ease-in-out;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.about-me>.card:hover {
  transform: scale3d(1.006, 1.006, 1);
}

.about-me .img-container {
  display: flex;
}

.about-me .img-container img {
  width: 100%;
  height: 100%;
  min-width: clamp(100px, 90vw, 340px);
  max-height: 780px;
  object-fit: cover;
  object-position: top;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 8px;
  animation: floating 5s infinite ease-in-out alternate;
}

.about-me .bio {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 3em;
  transition: transform .35s ease-in-out;
}

.about-me>.card:hover .bio {
  transform: scale3d(1.003, 1.003, 1);
}

.about-me.animate-onscroll>.card {
  animation: blur 900ms ease-in forwards;
}

@keyframes blur {
  from {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  to {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, 20px);
  }
}

@media screen and (max-width: 650px) {
  .about-me>.card {
    flex-direction: column;
  }
  .about-me .bio {
    margin: 40px 0 0 15px;
  }
}