section.about {
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

.about .wrapper {
  display: flex;
  margin: 3em 20px;
}

.about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: clamp(3.2rem, 10vw, 5.5em);
  font-weight: 400;
}

.kmmx-popup {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

img.kmmx-hand {
  height: 150px;
}

img.kmmx-head {
  width: 400px;
}

.about .box {
  border: 1px solid white;
  width: 10px;
  height: 10px;
  max-width: 800px;
}

.about .box.animate-onscroll {
  animation: extend 600ms linear forwards 100ms;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 1em;
}

.about-container.animate-onscroll {
  animation: showOnLoad 600ms linear forwards 100ms;
}

.social-link {
  display: flex;
  align-items: baseline;
  /* flex-direction: row-reverse; */
  width: fit-content;
  transition: color 0.4s ease-in;
}

.social-link svg.link {
  width: 12px;
  height: 12px;
}

/* .social-link:hover {
  transform: translate3d(20px, 0, 0);
} */

.social-link.discord:hover {
  color: #5865F2;
}

.social-link.twitter:hover {
  color: #1DA1F2;
}

.social-link.telegram:hover {
  color: #0088CC;
}

.social-link.vrc:hover {
  color: #008387;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #18b030;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0s ease-out 0s;
  right: -100px;
}

.tooltip:active .tooltiptext {
  visibility: visible;
  opacity: 1;
  /* transition-delay: 1s; */
}

@keyframes extend {
  60% {
    height: 40vh;
  }

  75% {
    height: 40vh;
    width: 10%;
  }

  90% {
    height: 50vh;
    width: 30%;
  }

  100% {
    height: fit-content;
    width: 100%;
  }
}

@keyframes showOnLoad {
  0% {
    max-width: 0;
  }

  99% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}