section.info-card {
  min-height: inherit;
  max-width: 1300px;
  margin: 0 auto;
}

.info-card>.card {
  display: flex;
  margin: 0 10px;
  padding: 35px 10px;
  background-color: var(--card-color);
  box-shadow: 20px 20px 40px var(--black-color), -2px -2px 1px #ff446c70;
  border-radius: 8px;
  transition: transform .35s ease-in-out, box-shadow .35s ease-in-out;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.info-card>.card:hover {
  transform: scale3d(1.006, 1.006, 1);
  box-shadow: 30px 20px 60px var(--black-color);
}

.info-card .img-container {
  display: flex;
}

.info-card .img-container img {
  width: 100%;
  height: 100%;
  min-width: clamp(100px, 90vw, 340px);
  max-height: 780px;
  object-fit: cover;
  object-position: top;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 8px;
  animation: floating 5s infinite ease-in-out alternate;
}

.info-card .imgDesc-container {
  display: flex;
  flex-direction: row-reverse;
  writing-mode: vertical-lr;
  font-size: 14px;
}

.bio {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-left: 3em; */
  transition: transform .35s ease-in-out;
}

.bio .title {
  color: var(--black-color);
  font-size: 7rem;
  letter-spacing: 1rem;
  line-height: 70px;
  z-index: -1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bio .header {
  display: flex;
  flex-direction: row-reverse;
}

.bio .header-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.bio h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 38px;
}

.bio h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.bio h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 12px;
  color: var(--acc2-color);
  margin-bottom: 1rem;
}

.bio p.info {
  font-size: 1rem;
  font-weight: 400;
}

.info-card>.card:hover {
  transform: scale3d(1.007, 1.007, 1);
}

.info-card.animate-onscroll>.card {
  animation: blur 900ms ease-in forwards;
}

@keyframes blur {
  from {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  to {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  to {
    transform: translate(0, 20px);
  }
}

@media screen and (max-width: 650px) {
  .info-card>.card {
    flex-direction: column;
  }

  .info-card .bio {
    margin: 40px 0 0 15px;
  }

  .info-card .img-container img {
    animation: none;
  }

  .info-card .imgDesc-container {
    writing-mode: unset;
    flex-direction: row-reverse;
  }
}