section.archive {
  justify-content: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

section.archive>.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 3em 20px;
}

.ar-container {
  display: flex;
}

.ar-container.l {
  margin-right: 20px;
  width: 100%;
  /* max-width: 360px; */
  justify-content: center;
}

.ar-container.l>svg {
  width: 400px;
}

.ar-container.r {
  max-width: 700px;
}

.ar-container .deco {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.deco .deco1 {
  align-self: end;
  width: 50px;
  height: 100%;
}

.deco .dot-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 15px 0 21px;
}

.dot-container>.dot {
  background: var(--white-color);
  width: 4px;
}

.offset.dot {
  width: 60px;
  animation: movingWidth 2s infinite;
}

.thin.dot {
  width: 1px;
}

.archive .content {
  display: flex;
  flex-direction: column;
}

.archive h1 {
  font-size: clamp(3.2rem, 9vw, 5.5em);
  font-weight: 400;
}

.archive h1::before {
  content: "//";
  float: left;
  opacity: 0.4;
  padding-right: 1.5rem;
}

h2.stardate {
  position: sticky;
  top: 70px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin: 0 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.stardate .stardate-text {
  display: flex;
  position: relative;
  color: var(--black2-color);
}

.stardate .stardate-text:hover {
  animation: none !important;
}

.stardate .stardate-text:hover:before {
  animation: none !important;
  width: 0.9em;
  background-color: var(--white-color);
}

.stardate .stardate-text:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white2-color);
  width: 0.9em;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}

.stardate.animate-onscroll .stardate-text {
  animation: blink-in 300ms linear forwards 100ms;
}

.stardate.animate-onscroll .stardate-text:before {
  animation: decode 300ms linear forwards 100ms;
}

.stardate-text.st-order1, .stardate-text.st-order1::before {
  animation-delay: 1400ms !important;
}

.stardate-text.st-order2, .stardate-text.st-order2::before {
  animation-delay: 1000ms !important;
}

.stardate-text.st-order3, .stardate-text.st-order3::before {
  animation-delay: 900ms !important;
}

.stardate-text.st-order4, .stardate-text.st-order4::before {
  animation-delay: 1300ms !important;
}

.stardate-text.st-order5, .stardate-text.st-order5::before {
  animation-delay: 1400ms !important;
}

.stardate-text.st-order6, .stardate-text.st-order6::before {
  animation-delay: 1100ms !important;
}

.stardate-text.st-order7, .stardate-text.st-order7::before {
  animation-delay: 1900ms !important;
}

.stardate-text.st-order8, .stardate-text.st-order8::before {
  animation-delay: 1300ms !important;
}

@keyframes blink-in {
  75% {
    color: var(--black2-color);
  }

  90% {
    color: var(--acc2-color);
  }

  100% {
    color: var(--white2-color);
  }
}

@keyframes decode {
  0% {
    width: 0.9em;
  }

  29% {
    width: 0.9em;
  }

  30% {
    width: 1px;
  }

  89% {
    width: 1px;
    background-color: var(--acc1-color);
  }

  90% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes movingWidth {
  0% {
    width: 60px;
  }

  35% {
    width: 70px;
  }

  70% {
    width: 50px;
  }

  100% {
    width: 60px;
  }
}

.content p.log::first-letter {
  color: var(--acc1-color);
  float: left;
  font-size: 5.5rem;
  font-weight: 600;
  padding-right: 0.5rem;
}

.content p {
  padding-top: 0.5rem;
  font-size: clamp(1.3rem, 1.8vw, 1.5em);
  font-weight: 400;
  opacity: 0.9;
}

p.log i.voice {
  color: var(--acc2-color);
}

svg.arcai-pattern {
  fill: #ee3d4a;
  opacity:0;
  stroke-dasharray: 812;
}

svg.arcai-pattern.animate-onscroll {
  animation: arcaiDraw 4s cubic-bezier(.56,-0.04,.32,.7) forwards;
}

@keyframes arcaiDraw {
  0% {
    opacity: 0;
    fill: #ffffff00;
    stroke: #f71c1c;
    stroke-width: 4px;
    stroke-dashoffset: 912;
  }
  40% {
    opacity: 1;
    fill: #ffffff00;
  }
  70% {
    fill: #ffffff00;
    stroke-dashoffset: 0;
  }
  90% {
    stroke: #f71c1c;
    stroke-width: 4px;
  }
  100% {
    opacity: 1;
    fill: #ee3d4a;
    stroke: #f71c1c00;
    stroke-width: 0;
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 650px) {
  .ar-container.l {
    display: none;
  }

  .ar-container.r {
    background-image: url("../asset/arcai_b.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ar-container .deco {
    display: none;
  }
}