section.footer {
  min-height: 75vh;
  background-color: var(--black-color);
  background: linear-gradient(0deg, var(--black-color) 0%, var(--black-color) 60%, var(--black2-color) 100%);
}

.footer .warpper {
  z-index: 1;
  flex-direction: column;
  display: flex;
  width: 100%;
  margin: auto 5% 5rem;
  gap: 7px;
}

.footer .warpper h2 {
  width: max-content;
  font-size: 70px;
  line-height: 58px;
}

.footer .link {
  transition: color 200ms ease-in;
}

.footer .link:hover {
  color: var(--acc2-color);
}

.footer-content {
  margin-top: 1.5rem;
  font-weight: 400;
}

.footer-content .owner {
  font-weight: 500;
}

.footer-content .fade {
  color: #2c2c2c;
}

.footer>.bg {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.footer>.bg>h1 {
  color: var(--black2-color);
  font-size: clamp(100px, 11vw, 140px);
  font-weight: 400;
}

.proto {
  position: absolute;
  bottom: 0;
  right: 0;
}