section.refsheet {
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

.refsheet>.warpper {
  display: flex;
  margin: 3em 20px;
  max-width: fit-content;
}

.refsheet .content {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  gap: 1em;
}

.header-overlay {
  font-size: clamp(3.2rem, 10vw, 5.5em);
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: left 1s ease-out;
  z-index: 2;
}

.ref-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 1em;
}

.ref-container img.color {
  height: 440px;
  width: 75px;
}

.refimg-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.ref-img img {
  position: relative;
  z-index: 1;
  /* width: 480px; */
  height: 100vh;
  object-fit: cover;
  /* object-position: 110% 0; */
  transition: transform 1s ease-out;
}

.refimg-container:hover img {
  transform: scale(1.07);
}

.txt-overlay {
  /* color: var(--black-color); */
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  left: -72px;
  right: 0;
  font-size: 12em;
  line-height: 210px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: left 1s ease-out;
}

.refimg-container:hover .txt-overlay {
  left: -50px;
}

@media screen and (max-width: 900px) {
  .ref-img img {
    margin-top: 0;
    width: 100%;
    height: 820px;
  }

  .txt-overlay {
    font-size: 12em;
    line-height: 240px;
  }
}