.redtab {
  width: 10px;
  height: 100px;
  position: absolute;
  background-color: var(--acc2b-color);
  top: 5%;
  right: 0;
  z-index: 3;
}

section.cinematic {
  min-height: 85vh;
  justify-content: center;
  flex-direction: column;
}

section.cinematic>.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

section.cinematic>.wrapper>.zone1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.cinematic .job-label {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-right: 5%;
  gap: 20px;
}


section.cinematic>.wrapper>.zone2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.zone2 .zone2-container {
  margin-right: 19%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.cinematic .text-bg {
  font-size: clamp(4.2rem, 40vw, 30em);
  z-index: 0;
  opacity: 0.03;
  font-weight: 500;
  position: relative;
  /* top: 770px; */
  right: -10%;
}

.cinematic .dot-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 100px;
  justify-content: space-between;
}

.cinematic .dot {
  z-index: 1;
  height: 10px;
  width: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-block;
  margin: 8px;
}

.cinematic .dot:hover {
  background-color: var(--acc2-color);
}

.cinematic .line {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.cinematic .aencc {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  z-index: 2;
}

.cinematic .aencc>.txtblock {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 4px;
}

.cinematic .aencc svg {
  align-self: flex-end;
  width: 30px;
  height: auto;
  stroke-width: 4px;
  fill: none;
  stroke: var(--white-color);
  animation: stroke-width 4s infinite ease-in;
}

@keyframes stroke-width {
  0% {
    stroke-width: 4px;
  }

  30% {
    stroke-width: 14px;
  }

  60% {
    stroke-width: 14px;
  }

  100% {
    stroke-width: 4px;
  }
}


/* .cinematic .aencc>.txtblock div {
  background-color: var(--white-color);
} */

.cinematic .aencc .redbar {
  width: 37px;
  height: 7px;
  background-color: var(--acc2b-color);
}

section.cinematic>.wrapper>.zone3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-bottom: 200px;
}

.cinematic .zone3 .zone3-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cinematic .zone3 .solarsys {
  padding-right: 36%;
  width: 100%;
}

.cinematic .zone3 .solarsys>img {
  position: relative;
  left: -20%;
}

.cinematic .zone3 h2 {
  position: absolute;
  padding-top: 17%;
  padding-left: 12%;
}

.cinematic .zone3 .note {
  width: 100%;
  text-align: end;
  margin-right: 35px;
}

.wipe {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wipe>div {
  width: 100%;
  height: 25%;
  margin: -5px 0;
  background: var(--acc2b-color);
}


@media screen and (max-width: 800px) {
  .zone2 .zone2-container {
    margin-right: 0;
  }

  .cinematic .line {
    top: 630px;
    width: 150vw;
  }

  .cinematic .aencc {
    margin-top: 50vw;
  }

  .cinematic .zone3 .solarsys {
    padding-right: 0;
  }
}