/* Title animation */

.line {
  height: 0;
  width: 14px;
  background: repeating-linear-gradient( to top, var(--white-color) 0, var(--white-color) 5px, transparent 5px, transparent 12px);
  position: absolute;
  left: 30px;
  bottom: 0;
  animation: run 3s infinite 10s;
}

@keyframes run {
  0% {
    height: 300px;
    transform: translateY(-50%) scaleY(0);
  }
  60% {
    transform: translateY(-20%) scaleY(1);
  }
  80% {
    transform: translateY(0) scaleY(0);
  }
  100% {
    transform: translateY(-50%) scaleY(0);
  }
}

/* Logo */

.logo-wrapper {
  position: absolute;
  right: 0;
  height: 100%;
  width: clamp(17rem, 39vw, 34rem);
  overflow-x: hidden;
}

.logo-wrapper svg {
  margin-top: 10vw;
  animation: hover 5s infinite alternate 8.5s, fadeIn 2s 8.5s, show 1s infinite 9.5s;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(2%);
  }
  60% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Title */

section.title {
  background-image: url(../asset/logo.svg);
  background-repeat: no-repeat;
  background-size: 970px;
  background-position: 90% 75%;
  justify-content: center;
}

.wrapper {
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 1500px;
  justify-content: space-between;
}

.header-wrapper {
  min-width: clamp(18rem, 80vw, 36em);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.swipe {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.swipe .title {
  width: 100%;
  font-size: clamp(3rem, 18vw, 8em);
  letter-spacing: 10px;
  text-align: center;
  color: var(--white-color);
  animation: fadeIn 2s forwards 7.6s, fadeIn 3.5s forwards 13s;
  opacity: 0;
}

.swipe .subtitle {
  width: 100%;
  animation: fadeIn 2s forwards 7.8s;
  opacity: 0;
  margin-right: 2rem;
  cursor: pointer;
}

.swipe .subtitle h2 {
  padding: 0;
  margin: 0;
  font-size: clamp(0.9rem, 4vw, 1.7em);
  letter-spacing: 5px;
  text-align: right;
  color: var(--white2-color);
}

/* V.H.E. */

.V:hover, .V:active {
  color: var(--acc2-color);
}

.V:hover:after, .V:active:after {
  content: "ery";
}

.V:hover .Vdot, .V:active .Vdot {
  display: none;
}

.H:hover, .H:active {
  color: var(--acc2-color);
}

.H:hover:after, .H:active:after {
  content: "igh";
}

.H:hover .Hdot, .H:active .Hdot {
  display: none;
}

.E:hover, .E:active {
  color: var(--acc2-color);
}

.E:hover:after, .E:active:after {
  content: "fficiency";
}

.E:hover .Edot, .E:active .Edot {
  display: none;
}

.swipe span.block1 {
  z-index: 2;
  width: 0%;
  height: 100%;
  position: absolute;
  display: flex;
  background: var(--acc1-color);
  animation: mainBlock 1.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards 6.3s, mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards 12s;
}

.swipe span.block2 {
  z-index: 2;
  width: 0%;
  height: 100%;
  position: absolute;
  display: flex;
  background: var(--acc2-color);
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards 6s;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadebounce {
  0% {
    opacity: 0.8;
    transform: translateY(0);
  }
  30% {
    opacity: 0.2;
    transform: translateY(-15px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

/* Scroll */

.scrollhint {
  color: var(--acc2-color);
  font-size: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  right: 10px;
  bottom: 2rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  animation: fadebounce 1.6s infinite 10.3s;
  opacity: 0;
}

/* Icon on right */

.fullscr-icon {
  z-index: 2;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    margin-bottom: 30vh;
  }
  .logo-wrapper svg {
    width: 100%;
    margin-left: 3em;
    margin-top: 55vh;
  }
  section.title {
    justify-content: center;
    background-size: 800px;
    background-position: 46% 15%;
  }
}