/* Gobal */
:root {
  --white-color: #eeeeee;
  --white2-color: #9e9e9e;
  --black-color: #141414;
  --acc1-color: #f9826c;
  --acc2-color: #ff446c;
}

::selection {
  color: var(--acc2-color);
  background: var(--white-color);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html,
body {
  touch-action: manipulation;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  scrollbar-width: none;
  background: var(--black-color);
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Intro animation */

.container.intro {
  background: var(--black-color);
  animation: slide-out-container 5s cubic-bezier(0.95, 0.01, 0.36, 0.8) 2.8s;
  animation-fill-mode: forwards;
}

.text-warpper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  color: var(--white-color);
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-10 {
  color: var(--black-color);
  -webkit-text-stroke: 1px var(--white-color);
}

.text-0 {
  font-size: clamp(1rem, 100px, 3.5rem);
  animation: slide-out 1.5s linear 3.5s;
  opacity: 0;
}
.text-1 {
  animation: blink 0.8s linear 0.9s, blink 0.5s linear 2s;
  opacity: 0;
}

.text-2 {
  animation: blink 0.8s linear 0.8s, blink 0.6s linear 2s;
  opacity: 0;
}

.text-3 {
  animation: blink 0.8s linear 0.7s, blink 0.65s linear 2s;
  opacity: 0;
}

.text-4 {
  animation: blink 0.8s linear 0.9s, blink 0.7s linear 2s;
  opacity: 0;
}

.text-5 {
  animation: blink 0.8s linear 0.7s, blink 0.75s linear 2s;
  opacity: 0;
}

.text-6 {
  animation: blink 0.8s linear 0.8s, blink 0.75s linear 2s;
  opacity: 0;
}

.text-7 {
  animation: blink 0.8s linear 0.9s, blink 0.7s linear 2s;
  opacity: 0;
}

.text-8 {
  animation: blink 0.8s linear 0.7s, blink 0.65s linear 2s;
  opacity: 0;
}
.text-9 {
  animation: blink 0.8s linear 0.6s, blink 0.6s linear 2s;
  opacity: 0;
}
.text-10 {
  animation: blink 0.8s linear 0.8s, blink 0.5s linear 2s;
  opacity: 0;
}
.text-error {
  font-size: clamp(4rem, 400px, 20rem);
  color: red;
  overflow: hidden;
  text-overflow: clip;
  width: 100%;
  height: 100vh;
  animation: blink 0.8s linear 2.8s;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-out {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 100%;
  }
  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0;
  }
  69% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-out-container {
  0% {
    height: 100vh;
  }
  40% {
    height: 100vh;
  }
  100% {
    height: 0%;
  }
}

/* Title animation */

.line {
  height: 0;
  width: 14px;
  background: repeating-linear-gradient(
    to top,
    var(--white-color) 0,
    var(--white-color) 5px,
    transparent 5px,
    transparent 12px
  );
  position: absolute;
  left: 30px;
  bottom: 0;
  animation: run 3s infinite 10s;
}

@keyframes run {
  0% {
    height: 300px;
    transform: translateY(-50%) scaleY(0);
  }
  60% {
    transform: translateY(-20%) scaleY(1);
  }
  80% {
    transform: translateY(0) scaleY(0);
  }
  100% {
    transform: translateY(-50%) scaleY(0);
  }
}

/* Logo */

.logo-wrapper {
  position: absolute;
  right: 0;
  height: 100%;
  width: clamp(13rem, 39vw, 34rem);
  overflow-x: hidden;
}

.logo-wrapper svg {
  margin-top: 5vw;
  animation: hover 5s infinite;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(2%);
  }
  60% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Title */

.container.title {
  background-image: url(/logo.svg);
  background-repeat: no-repeat;
  background-size: 1030px;
  background-position-x: right;
}

.header-wrapper {
  min-width: clamp(18rem, 80vw, 36em);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-wrapper .lblock {
  width: 16px;
  height: 100%;
  display: flex;
  position: absolute;
  background: var(--acc1-color);
  animation: fade 2s infinite 9s;
  opacity: 0;
}

.swipe {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.swipe .title {
  width: 100%;
  font-size: clamp(3rem, 18vw, 8em);
  letter-spacing: 10px;
  text-align: center;
  color: var(--white-color);
  animation: mainFadeIn 2s forwards 7.6s;
  opacity: 0;
}

.swipe .subtitle {
  width: 100%;
  animation: mainFadeIn 2s forwards 7.8s;
  opacity: 0;
  margin-right: 2rem;
  cursor: pointer;
}

.swipe .subtitle h2 {
  padding: 0;
  margin: 0;
  font-size: clamp(0.9rem, 4vw, 1.7em);
  letter-spacing: 5px;
  text-align: right;
  color: var(--white2-color);
}

/* V.H.E. */
.V:hover,
.V:active {
  color: var(--acc2-color);
}
.V:hover:after,
.V:active:after {
  content: "ery";
}
.V:hover .Vdot,
.V:active .Vdot {
  display: none;
}
.H:hover,
.H:active {
  color: var(--acc2-color);
}
.H:hover:after,
.H:active:after {
  content: "igh";
}
.H:hover .Hdot,
.H:active .Hdot {
  display: none;
}
.E:hover,
.E:active {
  color: var(--acc2-color);
}
.E:hover:after,
.E:active:after {
  content: "fficiency";
}
.E:hover .Edot,
.E:active .Edot {
  display: none;
}

.swipe span.block1 {
  width: 0%;
  height: inherit;
  position: absolute;
  display: flex;
  background: var(--acc1-color);
  animation: mainBlock 1.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards 6.3s;
}

.swipe span.block2 {
  width: 0%;
  height: inherit;
  position: absolute;
  display: flex;
  background: var(--acc2-color);
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards 6s;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadebounce {
  0% {
    opacity: 0.8;
    transform: translateY(0);
  }
  30% {
    opacity: 0.2;
    transform: translateY(-15px);
  }

  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* Scroll */
.scrollhint {
  color: var(--acc2-color);
  font-size: 14px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  right: 10px;
  bottom: 2rem;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  animation: fadebounce 1.6s infinite 10.3s;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    margin-bottom: 30vh;
  }
  .logo-wrapper svg {
    margin-left: 3em;
    width: 100%;
  }
}
