:root {
    --background-color: var(--black2-color);
    --text-color: var(--white2-color);
}

body {
    background-color: var(--background-color);
}

.logo {
    position: absolute;
    top: 0;
    width: 60px;
    margin: 27px;
    cursor: pointer;
    z-index: 1;

    svg {
        view-transition-name: aa-logo;
    }
}

/* Hero */

.transparent-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15% top;
    z-index: 1;
}

.hero {
    /* background: linear-gradient(45deg, rgba(228, 38, 64, 0.5), rgba(88, 0, 12, 0.7)), url(/assets/hero/BG.webp); */
    background: url(/assets/hero/BG.webp);
    background-size: cover;
    background-position-x: 200px;
    max-width: unset;
    padding: unset;
}

.video-overlay {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 100%;
    margin-bottom: -2%;
    background-image: linear-gradient(to bottom, transparent 0%, var(--background-color) 75%);
    z-index: 2;

    &.back {
        z-index: 0;
        height: 450px;
    }
}

.red-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(141, 32, 54, 1) 57%, rgba(203, 32, 64, 1) 100%);
    top: 0;
    mix-blend-mode: hard-light;
}

.hero-text {
    position: absolute;
    font-size: 280px;
    color: var(--background-color);
    transform: rotate(58.5deg) translateY(-38%);
}

.hero-bg {
    z-index: 0;
    padding-right: 30%;
    min-width: 1000px;
    height: 100vh;
    transform: translateY(-2px);
}

.hero-particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    overflow: visible;

    &.back {
        max-width: 1700px;
    }

    &.front {
        /* top: 20%; */
        left: 12%;
        mix-blend-mode: difference;
        max-width: 1500px;
        z-index: 2;
    }
}

.triangles {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    mix-blend-mode: color-burn;
}

.triangle {
    animation: particle 9.5s ease-in infinite;
    align-self: flex-end;
    transform: translateY(100%);
    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 3em solid var(--primary-color);
    --rotation-start: -50deg;
    --rotation-end: 20deg;
}

.triangle:nth-child(2) {
    border-left-width: 2em;
    border-right-width: 2em;
    border-bottom-width: 2em;
    animation-delay: 1s;
    animation-duration: 17s;
    filter: blur(5px);
}

.triangle:nth-child(3) {
    border-left-width: 2.5em;
    border-right-width: 2.5em;
    border-bottom-width: 2.5em;
    animation-delay: 1.5s;
    animation-duration: 8s;
    filter: blur();
}

.triangle:nth-child(4) {
    border-left-width: 1em;
    border-right-width: 1em;
    border-bottom-width: 1em;
    animation-delay: 3.5s;
    filter: blur(3px);
    animation-duration: 13s;
}

.triangle:nth-child(5) {
    border-left-width: 5em;
    border-right-width: 5em;
    border-bottom-width: 5.25em;
    animation-delay: 4s;
    filter: blur(2px);
    animation-duration: 11s;
}

.triangle:nth-child(6) {
    border-left-width: 7em;
    border-right-width: 7em;
    border-bottom-width: 7.5em;
    animation-delay: 7s;
    filter: blur(1px);
    animation-duration: 9s;
}

.triangle:nth-child(7) {
    border-left-width: 4em;
    border-right-width: 4em;
    border-bottom-width: 4em;
    filter: blur(2.5px);
    animation-duration: 12s;
}

.triangle:nth-child(8) {
    border-left-width: 6em;
    border-right-width: 6em;
    border-bottom-width: 6em;
    animation-delay: 5s;
    filter: blur(6px);
    animation-duration: 18s;
}

.triangle:nth-child(9) {
    border-left-width: 1em;
    border-right-width: 1em;
    border-bottom-width: 1.5em;
    filter: blur(0.5px);
    animation-duration: 9s;
}

.triangle:nth-child(9) {
    border-left-width: 3em;
    border-right-width: 3em;
    border-bottom-width: 3em;
    animation-delay: 6s;
    filter: blur(0.5px);
    animation-duration: 12s;
}

@keyframes particle {
    from {
        transform: translateY(100%) rotate(var(--rotation-start));
    }

    to {
        transform: translateY(calc(-100vh + -100%)) rotate(var(--rotation-end));
    }
}

/* character */
.character {
    padding-top: 2%;
}

/* Main */

.main {
    min-height: 100vh;
}

/* styling */
.styling {
    text-align: left;



    .color-1 {
        background: var(--primary-color);
    }

    .color-2 {
        background: var(--secondary-color);
    }

    .color-3 {
        background: var(--tertiary-color);
    }

    .color-4 {
        background: var(--blue-color);
    }

    .color-5 {
        background: var(--green-color);
    }

    .color-6 {
        background: var(--grey-color);
    }

    .seperator {
        width: 100%;
        position: relative;
        padding-top: 20px;
        margin: 0 auto;
        margin-bottom: 50px;
        border-bottom: 1px solid #EDEDED;
    }

    .sectionHeading {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }

    .sectionTitle {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: #848484;
    }

    .sectionSeperator {
        position: relative;
        padding-top: 5px;
        margin: 0 auto;
        border-bottom: 1px solid #CCCCCC;
    }

    ul#colors {
        width: 100%;
        position: relative;
        padding-top: 30px;
        margin: 0 auto;
        margin-bottom: 75px;
        text-align: center;
        list-style: none;
    }

    li.colorCircle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
    }

    .colorHex {
        position: relative;
        color: #D1D1D1;
        top: 120px;
        right: 6px;
    }

    #typography {
        width: 100%;
        position: relative;
        padding-top: 10px;
        margin: 0 auto;
        margin-bottom: 75px;
    }
}

/* Footer */

.footer {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    max-width: var(--max-width);
    margin-top: 200px;
    margin-bottom: 20px;

    .link {
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    p {
        color: var(--grey-color);
        font-weight: 300;
        text-align: left;
    }

    .footer-left {
        align-items: flex-start;
        flex-basis: 350px;

        img {
            object-fit: contain;
            height: 150px;
            width: auto;
            margin: 12px 0;
        }
    }

    .footer-center {
        margin-top: auto;

        svg {
            height: 50px;
        }
    }

    .footer-right {
        margin-top: auto;
        align-items: flex-end;
        flex-basis: 350px;
        --box-size: 50px;

        .color-box {
            width: var(--box-size);
            height: var(--box-size);
            border-radius: 20%;
            background-color: var(--grey-color);
            cursor: pointer;
            position: relative;
        }

        .tooltip {
            position: fixed;
            display: none;
            padding: 7px;
            background-color: var(--black-color);
            color: var(--grey-color);
            border-radius: 5px;
            font-size: 12px;
            white-space: nowrap;
            pointer-events: none;
            z-index: 4;

            &.copied {
                color: var(--green-color) !important;
            }
        }


        .color-box-container {
            justify-content: end;
            gap: 10px;
            margin-right: 0;
            margin-top: 10px;
            margin-bottom: 14px;


            .color-box:nth-child(1) {
                background-color: var(--primary-color);

                .tooltip {
                    color: var(--primary-color);
                }
            }

            .color-box:nth-child(2) {
                background-color: var(--secondary-color);

                .tooltip {
                    color: var(--secondary-color);
                }
            }

            .color-box:nth-child(3) {
                background-color: var(--tertiary-color);

                .tooltip {
                    color: var(--tertiary-color);
                }
            }

            .color-box:nth-child(4) {
                background-color: var(--white-color);

                .tooltip {
                    color: var(--white-color);
                }
            }

            .color-box:nth-child(5) {
                background-color: var(--white2-color);

                .tooltip {
                    color: var(--white2-color);
                }
            }

            .color-box:nth-child(6) {
                background-color: var(--white3-color);

                .tooltip {
                    color: var(--white3-color);
                }
            }

            .color-box:nth-child(7) {
                background-color: var(--black-color);

                .tooltip {
                    background-color: var(--white2-color);
                    color: var(--black-color);
                }
            }

            .color-box:nth-child(8) {
                background-color: var(--black2-color);

                .tooltip {
                    background-color: var(--white2-color);
                    color: var(--black2-color);
                }
            }

            .color-box:nth-child(9) {
                background-color: var(--black3-color);

                .tooltip {
                    background-color: var(--white2-color);
                    color: var(--black3-color);
                }
            }

            .color-box:nth-child(10) {
                background-color: var(--grey-color);

                .tooltip {
                    color: var(--grey-color);
                }
            }
        }
    }
}